/*----------  General Sections  ----------*/
* {
	box-sizing: border-box;
}

body {
	background-color: $off-white;
}

p {
	margin: 0;
}

/*----------  Columns  ----------*/
.col-3 {
	width: 33.3333%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


/*----------  Layout Sections  ----------*/
/* Main Wrapper */
#dashboard-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: $white;
	//border: 1px solid red;

	&::after {
		@extend %clearfix;
	}
}


/* Header */
#dashboard-header {
	background-color: $primary-purple;
	padding: 15px 20px;
	color: white;

	#site-name {
		width: 30%;
		float: left;
		display: inline-block;
	}

	#user-notification {
		width: 70%;
		float: right;
		height: 30px;
		text-align: right;
		
		.notification-icon {
			height: 30px;
			width: auto;
			display: inline-block;
			vertical-align:middle;
			padding-right: 16px;
			border-right: 1px solid darken($primary-purple, 7%);
		}

		.user-avatar {
			height: 30px;
			width: auto;
			display: inline-block;
			vertical-align:middle;
			border-radius: 100%;
			margin-right: 10px;
			margin-left: 16px;
		}

		.user-name {
			display: inline-block;
		}
	}

	&::after {
		@extend %clearfix;
	}
}

/* Sidebar */
#dashboard-sidebar {
	background-color: $secondary-purple;
	padding: 40px;
	width: 10%;
	height: 100vh; /*Temp*/
	float: left;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: 50px;

			img {
				max-width: 100%;
				height: auto;
				opacity: 0.7;

				&:hover {
					opacity: 1;
				}
			}

			a {
				position: relative;
				
				&.active-tab {
					&::before {
						@extend %nav-tabs;
					}

					img {
						opacity: 1;
					}
				}

				&:hover {
					&::before {
						@extend %nav-tabs;	
					}
				}
			}
		}
	}
}

/* Main Content Area */
#dashboard-main-area {
	width: 90%;
	height: 100vh; /*Temp*/
	float: right;
	border-right: 1px solid darken($off-white, 20%);

	/* Tabs and Search Feature */
	.dashboard-options {
		.tabs {
			width: 30%;
			background-color: #f1f1f1;
			float: left;
			overflow: hidden;
			

			button {
				float: left;
				background-color: $off-white;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 16px;
				transition: 0.3s;
				width: 50%;
				height: 56px;
				border: 1px solid darken($off-white, 20%);
				border-top: none;

				&.active-button,
				&:hover {
					background-color: $white;
					color: $primary-grey;
				}

				&.active-button {
					border: none;
				}
			}
		}

		.search-box {
			width: auto;
			height: 56px;
			overflow: hidden;
			text-align: right;
			background-color: $off-white;
			padding: 10px 20px;
			border-bottom: 1px solid darken($off-white, 20%);

			input {
				border: 1px solid darken($off-white, 20%);
				padding: 6px 10px;
				border-radius: $general-radius;
				min-width: 300px;
			}
		}

		&::after {
			@extend %clearfix;
		}
	}

	/* Dashboard Chart Area */
	.dashboard-chart-area {
		padding: 20px;

		#alert-notification {
			background-color: $primary-purple;
			padding: 10px 20px;
			color: $white;
			border-radius: $general-radius;
			position: relative;
			-webkit-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.1);
			-moz-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.1);
			box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.1);
			margin-bottom: 20px;

			span {
				position: absolute;
				right: 20px;
				cursor: pointer;
			}
		}
	}

	/* Dashboard Social Area */
	.dashboard-social-area {
		padding: 20px;
		border-top: 1px solid darken($off-white, 20%);
		border-bottom: 1px solid darken($off-white, 20%);


		.social-col {
			border: 1px solid darken($off-white, 20%);
			border-radius: $general-radius;
			background-color: $off-white;
			width: 30%;
			padding: 20px;
			margin-bottom: 30px;
			overflow: hidden;

			&:nth-child(3) {
				margin-right: 3%;
				margin-left: 3%;
			}

			img {
				float: left;
				width: 74px;
				height: 74px;
				background-color: $primary-purple;
				padding: 20px;
				border-radius: 10px;
				margin-right: 20px;
			}
		}

		&::after {
			@extend %clearfix;
		}
	}



}



/* Footer */
#dashboard-footer {
	background-color: $primary-purple;
	min-height: 70px; /*Temp*/
	clear: both;
}