/*----------  Primary Colours  ----------*/
$primary-purple :  #7477bf;
$secondary-purple : #4d4c72;


/*----------  Secondary Colours  ----------*/
$white          : #fff;
$off-white      : #fbfbfb;



/*----------  Padding and Margins  ----------*/



//File & Assett Path
//$file-path      : 'http://localhost/';


// Font Family Fonts Stacks
//$font-name    : 'Name', sans-serif;



/*----------  Media query break points  ----------*/
//$brk-min-1367   : '(min-width: 1367px)';
//$brk-max-1366   : '(max-width: 1366px)';
//$brk-max-1200   : '(max-width: 1200px)';
//$brk-max-1024   : '(max-width: 1024px)';
//$brk-max-992    : '(max-width: 992px)';
//$brk-max-768    : '(max-width: 768px)';
//$brk-max-736    : '(max-width: 736px)';
//$brk-max-667    : '(max-width: 667px)';
//$brk-max-568    : '(max-width: 568px)';
//$brk-max-480    : '(max-width: 480px)';
//$brk-max-414    : '(max-width: 414px)';
//$brk-max-375    : '(max-width: 375px)';
//$brk-max-320    : '(max-width: 320px)';
